<script type="text/javascript">
    RED.nodes.registerType('rsa-encrypt',
    {
        category: 'sense iot rsa',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"rsa encrypt"},
            publickey: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"rsa-encrypt";
        }
    });
</script>

<script type="text/html" data-template-name="rsa-encrypt">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-publickey"><i class="icon-tag"></i> Public Key</label>
        <input type="text" id="node-input-publickey" placeholder="RSA Public Key">
    </div>
</script>

<script type="text/html" data-help-name="rsa-encrypt">
    <p>A simple node that encrypts a given string using a predefined RSA Public Key.<br>Send a message with topic 'public-key' to replace the set key with msg.payload.</p>
</script>