<script type="text/javascript">
    RED.nodes.registerType('rsa-generate-keypair',
    {
        category: 'sense iot rsa',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"rsa generate keypair"},
            bitlength: {value:"1024", required:true},
            passphrase: {value: ''}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"rsa-generate-keypair";
        }
    });
</script>

<script type="text/html" data-template-name="rsa-generate-keypair">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-bitlength"><i class="icon-tag"></i> Bit length</label>
        <select id="node-input-bitlength">
            <option value="512">512</option>
            <option value="1024">1024</option>
            <option value="2048">2048</option>
            <option value="5096">5096</option>
          </select>
    </div>
</script>

<script type="text/html" data-help-name="rsa-generate-keypair">
    <p>Generate a new RSA keypair in a message with the topic 'keypair'. This node can be connected to the encrypt and decrypt nodes to set their respective keys.</p>
</script>